/* css reset */
*{
    margin: 0;
    padding: 0;
}

/* css variable */
:root{
    --navbar-height: 59px;
}

/* navigation bar */
#navbar{
    position: sticky;
    display: flex;
    align-items: center;
    top: 0px;
}
/* navigation bar: logo and image */
#logo{
margin: 34px 45px;
}
#logo img{
    border-radius: 60px;
    height: 56px;
    margin: 0px 0px;
}
#navbar ul{
    display: flex;
    font-family: 'Caprasimo', cursive;
font-family: 'Ysabeau SC', sans-serif;
}
#navbar:before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}
#navbar ul li{
    /* display: flex; */
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display:block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
background-color: white;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 400px;
}
#home:before{
    content: "";
    position: absolute;
    background: url('../bg.jpg');
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    margin-top: -300px;
}
#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Ysabeau SC', sans-serif;
}
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 20px 20px;
    margin: 4px 6px;
    border-radius: 4px;
    background-color: #d7c7c74f;
}
#services .box img{
    height: 156px;
    height: 156px;
    margin: auto;
    display: block;
}
#services.box p{
    font-family: 'Ysabeau SC', sans-serif;
}    
#client-section{
    height: 344px;
}
#client-section::before{
content: "";
position: absolute;
background: url(../bg1.jpg);
width: 100%;
height: 45%;
z-index: -1;
opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;

}
#clients img{
    height: 124px;
}
.client-item{
    padding: 34px;
}
#contact{
position: relative;
}
#contact::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.7;
background: url('../contact.jpg') no-repeat center center/cover;
}
.h-primary{
    font-size: 3.8rem;
    padding: 0px;
    text-align: center;
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
    text-align: center;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Ysabeau SC', sans-serif;
}
html{
    scroll-behavior: smooth;
}